body {
    margin: 0;
    background: black;
    color: white;
    font-family: 'Open Sans', 'sans-serif';
}
h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 3rem;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.header span {
    font-size: 1.3rem;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
}
.header span:hover {
    color: #FDD307;
}
table {
    margin-top: 20px !important;
    margin: 0;
    border-collapse: collapse;
    max-width: 1000px;
}
td, th {
    padding: 5px 20px;
    font-size: 1.2rem;
}
td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: move;
    user-select: none;

}
table th {
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 10;
    color: black;
    background: #FDD307;
}
.sw-button {
    background: none;
    color: white;
    font-size: 1.2rem;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.sw-button:hover {
    color: #FDD307;
    border-color: #FDD307;
}
.data-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.buttons-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
#table-name {
    font-weight: 500;
    font-size: 1.3rem;
}
tr {
    cursor: pointer;
    
}
tr:hover {
    color: #FDD307;
}
#no-data {
    display: block;
}
#loader {
    margin-top: 20px;
}
.hide {
    display: none !important;
}